<!-- ======= views/home.erb ======= -->
<h2>Get Started</h2>
<div>
<div class="menu-item"><a href="/signin_form">Sign In</a></div>
<div class="menu-item"><a href="/signup_form">Sign Up</a></div>
</div>
