<!doctype html>
<html lang="en">
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script type="text/javascript" src="/script.js"></script>
	  <link rel="stylesheet" type="text/css" href="styles.css">
	</head>
	<body>
    <header>
			<h1>New You Could Blog This (NYCBT)</h1>
		</header>
		<div id="menu-container">
		<% if session[:user_id] %> <!-- if we used current_user we would need to have it in each page/line -->
			<%= erb :menu %>
		<% else %>
			<%= erb :menu_two %>
		<% end %>
		</div>
		<div id="yield-container" class="section">
			<%= yield %>
		</div>
	  <footer>
	      <p>&copy; 2017 Ian &amp; Megan</p>
	  </footer>
	</body>
</html>
