<!doctype html>
<html lang="en">

  <!-- ======= ======= ======= head ======= ======= ======= -->
	<head>
		<!-- ======= scripts ======= -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script type="text/javascript" src="/script.js"></script>
	    <link rel="stylesheet" type="text/css" href="styles.css">
	</head>

  <!-- ======= ======= ======= body ======= ======= ======= -->
	<body>
	    <!-- ======= header ======= -->
	    <div id="header" class="section">
			<h1>NYCBT</h1>
		</div>
		<!-- ======= menu ======= -->
		<div id="menu-container" class="section">
		<% if session[:user_id] %>
			<%= erb :menu %>
		<% else %>
			<%= erb :menu_two %>
		<% end %>
	</div>


	    <!-- ======= content ======= -->
		<div id="yield-container" class="section">
			<%= yield %>
		</div>

	    <!-- ======= footer ======= -->
	    <div id="footer" class="section">
	        <p>footer</p>
	    </div>

	</body>
</html>
