<!-- ======= views/menu.erb ======= -->

<div class="menu-item"><a href="/user_profile">My Profile</a></div>
<div class="menu-item"><a href="/user_list">View User List</a></div>
<div class="menu-item"><a href="/signout">Sign Out</a></div>
