<!-- ======= views/menu.erb ======= -->

<div class="menu-item"><a href="/edit_user_form?id=<%= @current_user[:id] %>">Edit User</a></div>
<div class="menu-item"><a href="/delete_user_form?id=<%= @current_user[:id] %>">Delete User</a></div>
<div class="menu-item"><a href="/user_list">View User List</a></div>
<div class="menu-item"><a href="/signout">Sign Out</a></div>
