<!-- ======= views/menu.erb ======= -->

<div class="menu-item"><a href="/home">Home</a></div>
<div class="menu-item"><a href="/signin_form">Sign In</a></div>
<div class="menu-item"><a href="/signup_form">Sign Up</a></div>
<div class="menu-item"><a href="/view_profile">View User Profile</a></div>
<div class="menu-item"><a href="/signout">Sign Out</a></div>
