<!-- ======= views/signin_form.erb ======= -->

<p>Please Sign In</p>

<div class="form-box">
    <form class="user-form" method="post" action="/signin">
        <p>Username: <input type="text" name="username" value="MDB"></p>
        <p>Password: <input type="text" name="password" value="MDB123"></p>
        <input type="submit" value="Submit">
    </form>
</div>
<p>Not a User? Please sign up <a href="/signup_form">here</a>!</p>
