<!-- ======= views/signin_form.erb ======= -->
<h2>Please Sign In</h2>
  <form class="user-form" method="post" action="/signin">
      <p>Username: <input type="text" name="username" value="MP"></p>
      <p>Password: <input type="text" name="password" value="MP123"></p>
      <input type="submit" value="Submit">
  </form>
<p>Not a User? Please sign up <a href="/signup_form">here</a>!</p>
