<!-- ======= views/signup_form.erb ======= -->

<p>Membership has its privileges! :-) We are glad you are here!</p>


<div class="form-box">

  <form class="user-form" method="post" action="/signup">
      <p>Firstname: <input type="text" name="fname" value="Michele"></p>
      <p>Lastname: <input type="text" name="lname" value="Woods"></p>
      <p>Email: <input type="text" name="email" value="Michele@gmail.com"></p>
      <p>Create Username: <input type="text" name="username" value="MDB"></p>
      <p>Create Password: <input type="text" name="password" value="MDB123"></p>
      <input type="submit" value="Submit">
  </form>


</div>
