<h2>NYCBT Users</h2>
<p>by Username</p>
<% @users.each do |user| %>
  <p><a href= "/view_profile?id=<%= user[:id] %>">
    <%= user[:username] %></a></p>
  <% puts "user[:id]: #{user[:id].inspect}" %>
<% end %>
