<div id="wrapper">
  <div id="wrapperOne">
    <div class="form-box">
        <form class="user-form" method="post" action="/publish_form">
          <p>Publish a New Post: <input type="text" name="post_content" value="fds" maxlength="200"></p>
          <input type="submit" value="Submit">
        </form>
    </div>
  </div>
  <div id="wrapperTwo">
    <% @posts.each_with_index do |post, index| %>
      <% user_record = @user_array[index] %>
      <p><%= post[:post_content] %>**<%= user_record[:username] %></p>
      <% puts "post[:post_content]: #{post[:post_content].inspect}" %>
      <p><%= post[:created_at] %></p>
    <% end %>
  </div>
</div>
