<!-- ======= views/profile.erb ======= -->
<div id="wrapper">
  <div id="wrapperOne">
    <h1><%= @user[:fname] %> <%= @user[:lname] %></h1>
    <p>Username: <%= @user[:username] %></p>
    <p>User Since: <%= @user[:created_at] %></p>
  </div>
  <div id="wrapperTwo">
  </div>
</div>
