/* ======= ======= ======= general ======= ======= ======= */
html, body {
  width: 100%;
  margin: -10px 0px;
  box-sizing: content-box;
}
body {
  font-family: "Ariel", sans-serif;
  background-color: #efdcf9;
}

/* ======= ======= ======= sections ======= ======= ======= */
.section {
  margin: 20px auto;
  padding: 10px;
  width: 80%;
  border: 2px solid #323e42;
  box-sizing: border-box;
}
header {
   background-image: url("/img/keyboard.jpeg");
   background-size: cover;
   background-position: center;
   height: 200px;
   padding: 10px;
}
header > h1 {
  margin: 10px;
  text-align: center;
  color: #efdcf9;
}
#menu-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 60px;
  background-color: #efdcf9;
}
#yield-container {
  min-height: 360px;
  text-align: center;
}
footer {
  background-color: #7954a1;
  padding: 2px;
  text-align: center;
}
.postContent {
  border-bottom: 1px solid #323e42;
  margin: 2px;
}
/* ======= ======= ======= menu ======= ======= ======= */
.menu-item {
  width: 120px;
  height: 30px;
  margin: 10px;
  padding: 8px;
  text-align: center;
  background-color: #c55ffc;
  box-sizing: border-box;
  display: inline-block;
}
.menu-item > a {
  font-size: 1em;
  text-decoration: none;
  color: white;
}
.menu-item:hover {
  background-color: #7954a1;
}

/* ==== wrapper ==== */
#wrapper {
  display: flex;
  justify-content: space-around;
}
#wrapperOne {
  margin-top: 10px;
  width: 50%;
}
#wrapperTwo {
  width: 50%;
}
